services:
  - type: web
    runtime: docker
    name: imdb-actor-ratings
    repo: https://github.com/markusait/imdb-actor-ratings
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: "3000"
    healthCheckPath: /
